@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  padding: 30px;
  background-color: rgb(0, 0, 0);
  
  color: white;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

h1 {
  font-size: 50px;
  margin: 0; 
  font-weight: 700;
}

h2 {
  font-size: 40px;
  margin: 0; 
  font-weight: 600;
  line-height: 1.15;
}

h3 {
  font-size: 22px;
  margin: 0; 
  font-weight: 500;
  line-height: 1.3;
}

 button {
  padding: 6px 14px;
  border-radius: 25px;
  border: 1px solid transparent;
  background-color: #333;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: transform 0.08s ease;
}

button:active {
  transform: scale(0.96);
}

.buttonAccept {
  background-color: #0077FF;
}

.contentBox {
  display: inline-block;
  padding: 16px 18px;
  margin: 25px;
  border-radius: 25px;
  background-color: #1C1C1E;
  text-align: center;
}

/* h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 0px; 
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}

h4 {
  color:#ff0033 ;
  font-size: 16px;
  font-weight: 400;
  line-height: 0px;
  margin-top: 5px;
  margin-bottom: 20px;
} */


/*
input {
  font-size: 16px;
  border-radius: 25px;
  margin-bottom: 20px;
  color: #eee;
  background-color: #333;
  border: #333;
  padding: 2%;
}

.eventBox {
  width: 300px;
  height: 280px;
  border-radius: 25px;
  margin-top: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  background-color: #1C1C1E;
  color: white;
  text-align: center;
  position:relative;
  animation:animateRight 0.4s;
}

.selectBoxContainers {
  display: flex;
}

.selectBox {
  width: 300px;
  height: 260px;
  border-radius: 25px;
  background-color: #1C1C1E;
  margin-left: 20px;
  color: white;
  text-align: center;
  position:relative;
  animation:animateRight 0.4s;
}

.radioBox {
  width: 220px;
  height: 35px;
  border-radius: 25px;
  background-color: #333; 
  margin: 0 auto;
  position: relative;
  margin-bottom: 15px;
}

.radioTitle {
  float: left;
  font-size: 20px;
  font-weight: 400;
  line-height: 10px;
  margin-top: 10px;
  margin-left: 20px;
}

.radioButton {
  float: right;
  width: 16px;
  height: 16px;
  margin-top: 9px;
  margin-right: 20px;
}

.submittedBox {
  text-align: center;
  position:relative;
  margin-top: 20px;
} */